<div class="flex flex-row w-fit gap-1 ml-auto my-3">
    <button (click)="toggleFileUploader()" class="btn primary">Upload File</button>
    <button (click)="toggleFolderCreator()" class="btn secondary">Create Folder</button>
  </div>
  @if (displayFolderCreator == true) {
    <app-create-folder />
  }
  @if (displayFileCreator == true) {
    <app-upload-file />
  }
  <table>
    <tr>
      <th class="w-fit">Item Type</th>
      <th>Name</th>
      <th>Description</th>
      <th>Created Date</th>
      <th>Updated Date</th>
      <th></th>
    </tr>
    @for (item of folderContents; track $index) {
      <tr>
        <td class="w-fit">
          @if (item.isFolder) { 
            <span>Folder</span> 
          }
          @else {
            <span>File</span>
          }
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.createdDate }}</td>
        <td>{{ item.updatedDate }}</td>
        <td><button>:</button></td>
      </tr>
    }
  </table>
