<section>
  <ngnet-container>
    <div class="mx-auto text-center">
      <h1
        class="text-nowrap leading-normal bg-gradient-to-r from-primary to-secondary text-transparent bg-clip-text text-3xl sm:text-5xl font-bold"
      >
        Welcome to NgNet
      </h1>
      <span>A flexible starter kit for Angular & .NET</span>
    </div>
    <div
      class="py-1 px-2 rounded-full border-[1px] border-primary text-accent my-5 w-fit mx-auto"
    >
      Beta
    </div>

    <div
      class="flex sm:flex-row flex-col gap-x-2 mx-auto justify-center items-center"
    >
      <button class="btn primary">Quick Start Guide</button>
      <button class="btn secondary">Docs</button>
    </div>
  </ngnet-container>
</section>
